      * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
      .about-page {
        margin-top: 70px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 40px;
      }
      .about-desc {
           margin-top: 30px;
           
      }
      .about-desc h1 {
        font-size: 50px;
      }
      .about-desc h2 {
         font-size: 30px;
      }
      
      .about-desc p {
        font-size: 18px;
        max-width: 570px;
      }
      .about-desc span {
        font-size: 30px;
      }
  
      .read-more {
        padding: 10px 18px ;
        border: none;
        background-color: black;
        color: white;
        border-radius: 9px;
        margin-top: 10px;
        cursor: pointer;
      }
      .social a {
     text-decoration: none;
    font-size: 40px;
    color: black;
}
   .social a:hover {
      color: orangered;  
}

.feature-box {
  padding: 10px 20px;
  line-height: 2.5;
}
.feature-box p {
    font-size: 18px;
}
@media (max-width:820px) {
     .about-page{
      flex-direction: column;
     }
     .img {
      align-items: center;
          justify-content: center;
          display: flex;
          margin-top: 70px;
     }
     .img img {
      border-radius: 100%;
       height: 320px;
        width: 320px;
     }
        .about-desc h1 {
          text-align: center;
        }
        .about-desc h2 {
          text-align: center;
        }
         .about-desc h3 {
          text-align: center;
        }
        .about-desc p {
          text-align: center;
        }
        .read-more-btn {
          align-items: center;
          justify-content: center;
          display: flex;
        }
        .social {
            align-items: center;
          justify-content: center;
          display: flex;
        }
}
@media (min-width:821px) {
    .about-page {
        margin-top: 70px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 40px;
      }

     .img img {
        height: 400px;
        width: 400px;
        margin-top: 50px; 
        border-radius:  170px 170px 0px 170px;
        
      }
       .about-desc h1 {
        font-size: 50px;
      }
      .about-desc h2 {
         font-size: 30px;
      }
      
      .about-desc p {
        font-size: 18px;
        max-width: 570px;
      }
      
}
