* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: cornsilk;
    height: 400px;
    margin-top: 40px;
    padding: 0 20px;
    font-style: italic;
}
.sec {
    gap: 20px;
}
.btn-sec {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}
.section-btn {
    padding: 10px 20px;
    border: none;
    background-color: orangered;
    border-radius: 4px;
}
.section-btn:hover {
    background-color: rgb(208, 59, 5);
}
.section p {
    font-size: 50px;
    max-width: 700px;
    color: orangered;
}
.sec-img {
    display: flex;
    gap: 20px;
    margin-right: 20px;
    padding-top: 20px;
}
.sec-img img {
    height: 270px;
    width: 220px;
    border-radius: 3px;
}
.img-sec {
    height: 270px;
    width: 220px;
    border-radius: 3px;
}

 .categories{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: black;
        padding: 0;
         cursor: pointer;
    }
    .grid-box {
         background-color: azure;
        padding: 10px 10px;
        border-radius: 10px;
    }
    .grid {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 10px;
        padding: 10px 20px;
       
    }
     .grid-box h3 {
        margin-top: 10px;
     }
     .grid-img {
        align-items: center;
        justify-content: center;
        display: flex;
     }
    .grid-box img {
        height: 200px;
        width: 248px;
        padding: 10px 10px;
        border-radius: 20px;
    }
    .grid-box p {
        max-width: 240px;
        margin-top: 10px;
    }
    .grid-span {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
    }
    .grid-span span {
        font-size: 20px;
    }
    .grid-span button {
        padding: 7px 17px;
        border: none;
        background-color: black;
        color: white;
        border-radius: 7px;
        margin-right: 10px;   
    }
     .grid-span button:hover {
        background-color: rgb(47, 45, 45);
     }
     .second-category {
        height: 100vh;
        width: 100%;
        background-color: black;
        color: white;
        margin-bottom: 520px;
        padding: 10px 40px;
     }
     .second  h2 {
            font-size: 27px;
            font-style: italic;
    }
     .second  p {
          margin-top: 17px;
          font-style: italic;
     }
     .search {
        margin-top: 140px;
     }
     .search input {
        border: 1px solid white;
        height: 40px;
        background-color: black;
        border-radius: 20px;
        width: 100%;
        color: white;
        padding: 0 10px;
     }
     .text {
        text-align: center;
        font-style: italic;
        font-size: 33px;
         background-color: cornsilk;
         padding: 10px 0;
     }

@media (max-width:820px) {
     .section {
        flex-direction: column-reverse;
        height: 700px;
        margin-top: 40px;
        background-color: cornsilk;
        justify-content: center;
     }
     .two {
        display: none;
     }
     .three {
        display: none;
     }
     .section p {
        text-align: center;
        font-size: 40px;
        margin-top: 30px;
     }
      .sec-img {
        display: flex;
        align-items: center;
        justify-content: center;
      }
     .sec-img img  {
        width: 80%;
       margin-top: 70px;


        }
        .btn-sec {
             display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
           gap: 20px;
        }
    .sec-img {
            margin: 0 auto;
            padding-top: 20px;
     }
     .categories {
        flex-direction: column-reverse;
        padding: 20px 0;
     }
     .grid {
        grid-template-columns: auto ;
        margin-top: -500px;
     }
       .grid-box{
        width: 300px;
       }
       .grid-box img {
        height: 200px;
        width: 370px;
        padding: 10px 10px;
        border-radius: 20px;
    }
    .grid-box p {
    max-width: 420px;

    }
     .grid-span {
        padding: 0  10px;
     }
     .second h2 {
        text-align: center;
     }
}
@media (min-width:821px) {
      .section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: cornsilk;
    height: 400px;
    margin-top: 40px;
    padding: 0 20px;
    font-style: italic;
}
    .two {
    display: block;
  
}
.three {
    display: block;
}
     .section p {
    font-size: 50px;
    max-width: 700px;
    color: orangered;
}
   .sec-img img {
    height: 270px;
    width: 220px;
    border-radius: 3px;
}
    .btn-sec {
    margin-top: 20px;
}
 .sec-img {
    display: flex;
    gap: 20px;
    margin-right: 20px;
    padding-top: 20px;
}
    .categories{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: black;
        padding: 0;
    }
      .grid {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 10px;
        padding: 10px 20px;
    }
        .grid-box {
         background-color: azure;
        padding: 10px 10px;
        border-radius: 10px;
    }
   .grid-box img {
        height: 200px;
        width: 248px;
        padding: 10px 10px;
        border-radius: 20px;
    }
     .grid-box p {
        max-width: 240px;
        margin-top: 10px;
    }
     .grid-span {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
    }
     .second  h2 {
            font-size: 27px;
            font-style: italic;
    }
}
